h1{color:blue;background-color:red}
h2{color:red;background-color:orange}
h3{color:green;background-color:brown}

a{color:red;}
a:visited{color:green;}
a:hover{color:yellow;}

.CreativeTech{color:white;background-color:black;}

#Music{color:white; background-color:indigo;text-decoration:underline;}